<library path="lib/libcartesian_tactile">
  <class name="franka_cartesian_control/CartesianPoseTactile" type="franka_cartesian_control::CartesianPoseTactile" base_class_type="controller_interface::ControllerBase">
    <description>A controller that executes a motion based on cartesian poses</description>
  </class>
</library>
